/* Saved as menu.css */
/* todo inclass transform the CSS into a horizontal menu with a seperator line between each word */
#menu ul { padding-left: 0; }
#menu li:first-child { padding-left: 0; border-left: 0px none white; }
#menu li { list-style-type: none; padding-left: 10px; display: inline; border-left: 2px solid red; }
#menu li ul { position: relative; left: 250px; }
#menu li ul li { display: block; background-color: red; height: 200px; }
.hide { display: none; }
